.MoneyHistoryPage-content {
  padding: 15px 20px;
  background: var(--body-bg);
  border-radius: var(--border-radius);
  overflow: auto;
  overflow-wrap: break-word;

  .moneyHistoryUser {
    .Avatar {
      .Avatar--size(24px);
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .moneyHistoryContainer {
    border: 1px dotted var(--control-color);
    padding: 10px;
    border-radius: 4px;
  }
}